h2 {
  text-decoration: underline;
}

#purple {
  color: purple;
}

.bg-success {
    background-color: #adffb6;
}

.bg-failure {
  background-color: #ffadad;
}


.navbar-custom {
    background-color: #9BD7F9;
}

.top-buffer { margin-top:20px;

}
